# Interface: TestResult

Defined in: [src/core/types.ts:57](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L57)

## Properties

### actualTriggered

> **actualTriggered**: `boolean`

Defined in: [src/core/types.ts:59](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L59)

***

### correct

> **correct**: `boolean`

Defined in: [src/core/types.ts:63](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L63)

***

### reportId

> **reportId**: `string`

Defined in: [src/core/types.ts:62](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L62)

***

### scanAction

> **scanAction**: `"allow"` \| `"block"`

Defined in: [src/core/types.ts:60](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L60)

***

### scanId

> **scanId**: `string`

Defined in: [src/core/types.ts:61](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L61)

***

### testCase

> **testCase**: [`TestCase`](TestCase.md)

Defined in: [src/core/types.ts:58](https://github.com/cdot65/prisma-airs-cli/blob/825fa649f4587acd7963f80c6325ac57a4637842/src/core/types.ts#L58)
